@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

$font-stack: 'Titillium Web';
$header-color: #febb2c;

body {
  font-family: $font-stack;
  padding: 0 auto;
  margin: 0 auto;
}

body #root {
  padding: 0 auto;
  margin: 0 auto;
}

#header {
  background-color: $header-color;
}

#header p {
  display: inline;
  margin: 0 auto;
  padding: 0 auto;
}

#header > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 7px;
  background: #001a3310;
}
#header > ul p {
  font-size: 0.6em;
}

#header #header-container {
  display: flex;
  flex-direction: row;
  background-color: $header-color;
}
#header #header-container-logo {
  display: flex;
  flex-direction: row;
}

#header #header-container-logo #logo {
  width: 60px;
  height: 60px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header #header-container-logo #header-container-service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#header #header-container-logo #header-container-service {
  font-size: 0.9em;
}
